<!DOCTYPE html>
<html backgoundcolor="#AABBCC">
<head>
  <title>Paypal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="paypal">

<%= yield %>

</body>
</html>
